%clearfix{
	&:after{
		content: '';
		display: table;
		line-height: 0;
		clear: both;
	}
}

%img_adaptive{
	display: block;
	max-width: 100%;
	height: auto;
}

%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
	%color_back{
		&:before{
			position: absolute;
			content: "";
			left: 50%;
			top: 0;
			width: 4000px;
			margin: 0 0 0 2000px;
		}
	}
